@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  font-size: 12px;
  overscroll-behavior: none;
  font: 12px/1.5 "Open Sans", sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
}

#map {
  height: 100vh;
  width: 100%;
}

ol {
  margin: 0px;
}

$theme-colors: (
  "primary": #8eb8e3,
);
