html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.homepage {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  width: 100%;
  height: 84vh;
  flex-grow: 1;
}

.infosection-wrapper {
  margin: 28px;
  width: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.textMapCombo {
  height: calc(35vh);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.periodText {
  padding: 10px 16px;
  border-radius: 4px;
  overflow-y: scroll;
}

.infosection-graph {
  width: 100%;
  height: 300px;
}

.jumbotron {
  padding: 15px;
  width: 50%;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

#gotohydeportal:hover {
  cursor: pointer;
  opacity: 0.8;
}

.timeline-overlay {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background-color: white;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 4px 8px;
}

table tbody tr {
  border-bottom: thin solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.jumbotron a {
  color: #fff;
}