<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <datasets>
        <dataset id="cropland" title="Cropland" location="/data/netCDF/cropland.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables>
                <variable id="cropland" title="Area cropland" description="Area cropland" palette="default" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" numColorBands="250" colorScaleRange="-4.28 89.88" scaling="linear"/>
            </variables>
        </dataset>
        <dataset id="irrigated_not_rice" title="Irrigated Not Rice" location="/data/netCDF/irrigated_not_rice.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables>
                <variable id="irrigated_not_rice" title="Area irrigated crops which are not rice" description="Area irrigated crops which are not rice" palette="default" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" numColorBands="250" colorScaleRange="-3.659 76.84" scaling="linear"/>
            </variables>
        </dataset>
        <dataset id="irrigated_rice" title="Irrigated Rice" location="/data/netCDF/irrigated_rice.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables>
                <variable id="irrigated_rice" title="Area irrigated rice" description="Area irrigated rice" palette="default" belowMinColor="#FF000000" aboveMaxColor="#FF000000" noDataColor="transparent" numColorBands="250" colorScaleRange="-4.267 89.61" scaling="linear"/>
            </variables>
        </dataset>
    </datasets>
    <cache enabled="true">
        <inMemorySizeMB>512</inMemorySizeMB>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </cache>
    <dynamicServices/>
    <dynamicCache enabled="true">
        <numberOfDatasets>10</numberOfDatasets>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </dynamicCache>
    <contact>
        <name></name>
        <organization></organization>
        <telephone></telephone>
        <email></email>
    </contact>
    <server>
        <title>ncWMS Server</title>
        <allowFeatureInfo>true</allowFeatureInfo>
        <maxImageWidth>1024</maxImageWidth>
        <maxImageHeight>1024</maxImageHeight>
        <abstract></abstract>
        <url></url>
        <allowglobalcapabilities>true</allowglobalcapabilities>
    </server>
    <crsCodes/>
</config>
