<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <datasets>
        <dataset id="1" title="Irrigated Not Rice" location="/data/netCDF/irrigated_not_rice.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables/>
        </dataset>
        <dataset id="2" title="Irrigated Rice" location="/data/netCDF/irrigated_rice.nc" queryable="true" downloadable="false" dataReaderClass="" copyrightStatement="" moreInfo="" disabled="false" updateInterval="-1">
            <variables/>
        </dataset>
    </datasets>
    <cache enabled="true">
        <inMemorySizeMB>512</inMemorySizeMB>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </cache>
    <dynamicServices/>
    <dynamicCache enabled="true">
        <numberOfDatasets>10</numberOfDatasets>
        <elementLifetimeMinutes>0.0</elementLifetimeMinutes>
    </dynamicCache>
    <contact>
        <name></name>
        <organization></organization>
        <telephone></telephone>
        <email></email>
    </contact>
    <server>
        <title>ncWMS Server</title>
        <allowFeatureInfo>true</allowFeatureInfo>
        <maxImageWidth>1024</maxImageWidth>
        <maxImageHeight>1024</maxImageHeight>
        <abstract></abstract>
        <url></url>
        <allowglobalcapabilities>true</allowglobalcapabilities>
    </server>
    <crsCodes/>
</config>
