* {
  font-size: 12px;
  // overflow-x: hidden; 
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
}

ol {
  margin: 0px;
}

li {
  font-size: 10px;
}

$theme-colors: (
  "primary": #2187e1,
);
@import "~bootstrap/scss/bootstrap";
