.homepage {
  min-height: 100vh;
  /* background-color: #bbf7d0; */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px;
  max-width: 500px;
}

.top-section {
  /* background-color: blue; */
  display: flex;
  flex: 1;
  width: 100%;
}

.infosection {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.jumbotron {
  padding: 15px;
  width: 40%;
}

.timeline-overlay {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}
