.homepage {
  min-height: 100vh;
  /* background-color: #bbf7d0; */
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  /* background-color: blue; */
  display: flex;
  flex: 1;
  width: 100%;
}

.infosection {
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  overflow-y: hidden;
}

.jumbotron {
  padding: 15px;
  width: 40%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.timeline-overlay {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 4px 8px;
}

table tbody tr {
  border-bottom: thin solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
