body {
    margin: 0;
    padding: 0;
   }

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#left-elements {
    position: fixed;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    left: 1%;
    bottom: 2%;
    gap: 10px;
    font-size: 16px;
}   
 
#ammount-selected {
    background-color: #ffffff;     
}

#plot-button {
    background-color: #ffffff;
}

#country-list {
    background-color: #ffffff; 
    padding: 0px;
    border: 1px solid #ccc;
}

#timeseries-form-box {
    display: none;
} 

/* Styles for the canvas switcher container */
#middle-elements {
    position: absolute;
    display: none;
    gap: 10px;
    bottom: 2%;
    left: 30%;
    width: 600px;
    height: 330px;
}

#chart-container {
    display: flex;
    flex-direction: column;
}

#chart-box {    
    width: 550px;
    height: 280px;
    margin: auto;
    border: 1px solid black;
}

#chart-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}