.timeline {
  display: inline-flex;
  /* flex: none; */
  width: 100%;
  overflow: scroll;
}

.timelineObject {
  flex-shrink: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 600px;
  background-color: aqua;
}

.timelineObject:hover {
  background-color: grey;
  cursor: pointer;
}

.timelineObject:nth-child(2n) {
  background-color: beige;
}

.relative {
  position: relative;
}

#pin {
  background-color: red;
  width: 5px;
  height: 30px;
  position: absolute;
  left: calc(50% - 2.5px);
}
